@use "sass:color";

// Colors
$grey-darkest: #111111;
$grey-darkerer: #333333;
$grey-darker: #4a4a4a;
$grey-dark: #979797;
$grey: #9b9b9b;
$grey-light: #cccccc;
$grey-lighter: #d8d8d8;
$grey-lighterer: #eeeeee;
$grey-lightest: #f4f4f4;

$blue-dark: #2765ae;
$blue: #4080ca;
$blue-light: #4a90e2;

$purple-darker: #4a0c80;
$purple-dark: #6c0cc0;
$purple: #9630d5;
$purple-light: #c982dc;

$orange: #e7c64e;
$orange-dark: #f7a01c;
$orange-darker: #f1b045;

$red-darker: #9f041b;
$red-dark: #c30a1b;
$red: #d0021b;
$red-light: color.adjust($red, $lightness: 20%);
$red-lighter: #fff6f6;

// Typography
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Dimensions
$border-radius: 2px;
$navbar-height: 5.6rem;
$sidebar-width: 20rem;

// Responsive
$desktop-width: 768px;
$desktop-wide-width: 1280px;
